.jumbotron{
    padding-top: 8rem;
    background-color: #0F110C;
}

.profile-picture{
    border: 3px solid #F6F8FF;
}

.about-text{
    color: #F6F8FF ;
}

.title-text{
    color: #F6F8FF;
}

.about-text-blk{
    color: #0F110C ;
}

.title-text-blk{
    color: #0F110C;
}

#exp{
    background-color: #F6F8FF;
    padding-top: 4rem;
}

#skill{
    padding: 80px 5px;
    background-color: #0F110C;
}

.col-md-4{
    padding: 8rem 5rem;
}

.custom-border{
    border: 3px solid #F6F8FF;
}

.ad-section {
    background-color: #f8f9fa;
    padding: 50px 0;
  }
  
.ad-item {
    border: 1px solid #F6F8FF;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
  }

.container{
    background-color: transparent;
    padding-left: 0;
    padding-right: 0;
}

.footer {
    background-color: #F6F8FF;
    padding: 1rem 1rem;
  }

.fa-black{
    color: #0F110C;
}
